<!doctype html>
<html ng-app>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Angular Test</title>
    <link rel="stylesheet" type="text/css" href="vendor/foundation/foundation.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular.min.js"></script>
     <script src="main.js"></script>
     <link rel="stylesheet" type="text/css" href="todo.css">
  </head>
  <body>
    <h2>Things To Do!</h2>
   <div ng-controller="TodoCtrl">
    <span>{{remaining()}} of {{todos.length}} remaining</span>
    [ <a href="" ng-click="archive()">archive</a> ]
    <ul class="unstyled">
      <li ng-repeat="todo in todos">
        <input type="checkbox" ng-model="todo.done">
        <span class="done-{{todo.done}}">{{todo.text}}</span>
        <input class="btn-primary" type="submit" ng-click="deleteTodo(todo)" value="delete">
      </li>
    </ul>
    <form ng-submit="addTodo()">
      <input type="text" ng-model="todoText" size="30" placeholder="add a new thing to do!">
      <input class="btn-primary" type="submit" value="add">
    </form>
   </div>
  </body>
</html>